.btn-styles {
  cursor: pointer;
  background-color: var(--iris);
  color: var(--cloud);
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  width: 120px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

#controls {
  margin: 0 auto;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  column-gap: 20px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.08);
  padding-top: 40px;
  padding-bottom: 25px;
}

#input-number {
  width: 100px;
  height: 40px;
  padding-left: 16px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
}

.btn-styles:hover,
.btn-styles:focus {
  background-color: var(--ocean);
  color: var(--white);
}


/* .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  width: 330px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.01);

  border-radius: 8px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.gallery-img {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
} */

/* .navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10px;
  margin-bottom: 20px;
}

.navigation-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-item-link {
  cursor: pointer;
  display: block;
  color: var(--navyblue);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item-link:hover,
.navigation-item-link:focus {
  color: var(--ocean);
} */

/* .products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.product {  
  width: calc((100% - 16px * 3) / 4);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.product-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 8px;
}

.product-description {
  color: var(--navyblue);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.product-price {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
} */